.positive-check-time {
    width: 100%;
    padding: 10px;

    font-weight: 500;
    border-left: 5px solid var(--positive);
    border-radius: 5px;
    background-color: #2ecc701a;
}

.neutral-check-time {
    width: 100%;
    padding: 10px;

    font-weight: 500;
    border-left: 5px solid var(--neutral);
    border-radius: 5px;
    background-color: #ffd9001a;
}

.absent-time {
    width: 100%;
    padding: 10px;

    font-weight: 500;
    color: rgb(138, 141, 144);
    border-radius: 5px;
    background-color: rgb(238, 239, 241);
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: var(--small);
    font-weight: bold;
    width: fit-content;
}

.positive {
    background-color: #2ecc701a;
    color: var(--positive);
}

.neutral {
    background-color: #ffd9001a;
    color: var(--neutral);
}

.negative {
    background-color: #E74C3C1a;
    color: var(--negative);
}

.mb-dropdown a {
    color: var(--txt);
    padding: 5px 10px;
}

@media (max-width:1200px) {
    .table-container {
        overflow-x: auto !important;
    }

    .mb-table {
        width: 1100px;
    }
}