.charts {
    margin: var(--gap1) 0;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.mb-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width:1100px) {
    .charts {
        grid-template-columns: 1fr;
    }

    .mb-card {
        width: 90%;
        margin: 0 auto;
    }
}