h1 {
    text-transform: capitalize;
    margin-bottom: 20px;
}

/* *************************************************** */

.form-upper-part,
.form-down-part {
    width: 100%;
    padding: 10px;
}

.form-upper-part {
    display: flex;
    align-items: flex-start;
    gap: var(--gap1);
    border-bottom: 1px solid var(--pop-up-hover);
}

.form-upper-part .upper-left-side {
    width: 30%;
    padding: 10px;
    border: 1px solid rgb(236, 237, 248);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.employee-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.employee-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.f-input-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;

    border: 2px dashed rgb(190, 190, 190);
    border-radius: 10px;
    padding: 10px;
}

.icon-container {
    padding: 15px;
    background-color: rgb(236, 237, 248);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container i {
    color: rgb(114, 126, 143);
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.browse-btn {
    margin-left: auto;
    padding: 5px 10px;
    color: var(--c1);
    font-weight: 600;
    font-size: var(--small);

    border: 1px solid var(--c1);
    border-radius: 15px;

    cursor: pointer;
    transition: all 300ms;
}

.browse-btn:hover {
    background-color: var(--c1);
    color: white;
}

.form-upper-part .upper-right-side {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: var(--gap1);
}

/* ***************************************************** */

.form-down-part {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: var(--gap1);
}

.radios-container {
    display: flex;
    align-items: center;
    gap: var(--gap2);
}

.radio-container {
    display: flex;
    gap: 5px;
}


/* *********************************** */

.form-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap2);
    padding: 10px;
}

.reset,
.submit {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reset {
    background-color: var(--negative);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}


.submit {
    background-color: var(--c1);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.reset i,
.submit i {
    color: white;
}

/* *************************************** */

.disabled {
    background-color: rgba(128, 128, 128, 0.1);
    pointer-events: none;
}

/* *************************************** */

@media (max-width:1300px) {
    .form-upper-part {
        flex-direction: column;
        align-items: center;
    }

    .form-upper-part .upper-left-side {
        width: 60%;
    }

    .form-upper-part .upper-right-side {
        width: 90%;
    }

    .form-down-part {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width:700px) {
    .form-upper-part .upper-left-side {
        width: 90%;
    }

    .form-upper-part .upper-right-side {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .form-down-part {
        grid-template-columns: 1fr;
    }
}

@media (max-width:500px) {
    .f-input-container {
        flex-direction: column;
        align-items: center;
    }

    .browse-btn {
        margin: 0;
    }
}