.table-container {
    width: 100%;
    overflow-y: visible;
}

.mb-table {
    border-collapse: collapse;
    width: 100%;
}

.mb-table tr {
    border-bottom: 1px solid var(--light-gray);
}

.mb-table tr:last-child {
    border: none;
}

.mb-table th {
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
}

.mb-table th,
.mb-table td {
    padding: 10px 5px !important;
}

.mb-table .id {
    width: fit-content;
    font-size: var(--small);
    padding: 2px 10px;
    border-radius: 7px;
    background-color: var(--main-color-shadow);
    color: var(--main-color);
}

.mb-table .information {
    display: flex;
    gap: var(--gap1);
}

.mb-table .text {
    display: flex;
    flex-direction: column;
}

.mb-table .employee {
    font-weight: bold;
}

.mb-table .job {
    font-size: var(--small);
    color: #666666;
    font-weight: 500;
}

.mb-table .view-btn i {
    font-size: var(--default);
}

/* *********************************************** */

.extra-info {
    padding-top: 55px;
    display: none;
}

/* .mb-card h3 {
    padding: 30px 0;
    border-bottom: 1px solid #ededed;
} */

.info-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title1 {
    font-size: var(--small);
    color: #888888;
    font-weight: 500;
}

.title2 {
    font-weight: 600;
}

.show-i {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ************************************ */

.dropdown-container {
    position: relative;
}

.mb-dropdown-btn {
    padding: 5px 10px;
    font-size: var(--default);
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--txt);
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    transition: all 300ms ease-out;
}

.mb-dropdown-btn:hover {
    background-color: rgba(48, 84, 245, 0.05);
}

.mb-dropdown-btn i {
    color: var(--txt);
}

.mb-dropdown {
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99;

    display: flex;
    flex-direction: column;

    background-color: var(--card-bg-color);
    border-radius: 3px;
    box-shadow: var(--light-shadow);

    pointer-events: none;
    opacity: 0;
    transition: all 300ms;
}

.mb-dropdown a {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 500;
    font-size: var(--small);
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid var(--light-gray);
}

.mb-dropdown a:last-child {
    border-bottom: none;
}

.mb-dropdown a:hover {
    background-color: var(--light-gray);
}

tr:last-child .mb-dropdown,
tr:nth-last-child(2) .mb-dropdown {
    top: auto;
    bottom: 100%;
}

.show {
    opacity: 1;
    pointer-events: all;
}

/* ************************************ */

@media (max-width:900px) {
    .table-container {
        overflow-x: auto;
    }

    .mb-table {
        width: 1100px;
    }
}